html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  text-align: center;
  font-size: 45px;
  color: white;
  max-width: 2000px;
  margin: auto;
}